.page.writing-mode {
  width: 100vw;
  height: 100vh;

  .layout {
    width: 50vw;
    height: 30vw;
    background-color: aqua;
    container-type: size;
    writing-mode: vertical-rl;
  }

  .box {
    inline-size: 100px;
    block-size: 50px;

    &.box1 {
      border: 4px solid black;
    }
    &.box2 {
        color: red;
      border: 4px solid red;
    }
  }

  @container (inline-size < 300px) {
    .box1 {
      background-color: black;
    }

    .box2 {
      background-color: red;
    }
  }
}
